<div class="menu-body">
    <div class="form d-flex flex-column align-items-center justify-content-around">
        <h1 class="header">Регистрация</h1>
        <input class="input form-element" type="text" name="username" id="username" placeholder="Имя пользователя">
        <p class="taken form-element d-none">Данное имя пользователя занято</p>
        <input class="input form-element" type="text" name="name" id="name" placeholder="Имя">
        <input class="input form-element" type="text" name="surname" id="surname" placeholder="Фамилия">
        <button class="submit form-element" type="submit" onclick="get_step(3)">Далее</button>
    </div>
</div>