<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <nav>
            {% block nav %}{% endblock nav %}
        </nav>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
    </body>
</html>