{% load static %}

<div class="nav">
    <div class="nav-body d-flex justify-content-between align-items-center">
        <div class="nav-left d-flex justify-content-start align-items-center">
            <a href=""><button class="nav-header">
                <h1 class="nav-header-text"><span class="header-Stud">Stud</span><span class="header-Link">Link</span></h1>
            </button></a>
            <div class="nav-buttons d-flex justify-content-between align-items-center">
                <a href=""><button  class="nav-button active">Вакансии</button></a>
                <a href=""><button class="nav-button">Фриланс</button></a>
                <a href=""><button class="nav-button">Резюме</button></a>
                <a href=""><button class="nav-button">Проекты</button></a>
            </div>
        </div>
        <div class="nav-right d-flex justify-content-end align-items-center">
            <img class="profile-image" src="{% static "assets/images/profile_image_tmp.jpg" %}" alt="">
            <a href=""><button class="nav-button login-button">Войти</button></a>
        </div>
    </div>
</div>