.menu {
    padding-top: 15px;
}

.form {
    height: 300px;
}

input {
    width: 350px;
    height: 35px;
    padding: 14px;
    border: solid 1px rgb(149, 174, 234);
    border-radius: 10px;
    outline: none;
}